@model WebJob.Models.employee
@{
    ViewBag.Title = "Home";

}
<link href="~/Content/home.css" rel="stylesheet" />
<link href="~/Content/search.css" rel="stylesheet" />
<link href="~/Content/Body.css" rel="stylesheet" />
<div class="std">
    <div class="search-header search-header--black">
        <div class="search-form-wrapper search-form-wrapper--loose clearfix">
            <h1 class="slogan">
                Việc Làm IT Chất
                @if (Session["account"] != null)
                {
                    <span>Dành cho</span>
                    <br class="br-on-mobile">@Session["name"]<br>
                }

            </h1>
            <form id="search_form" class="search-form" data-controller="search--autocomplete" data-search--autocomplete-seo-url-value="https://itviec.com/viec-lam-it" data-search--autocomplete-query-source-url-value="/api/v1/tags/populars" data-search--autocomplete-recent-searches-value=".net" action="/viec-lam-it" accept-charset="UTF-8" method="get">
                <div class="search-form__keyword-section rounded">
                    <div class="input-group dropdown">
                        <div class="search-form__icon svg-icon svg-icon--grey svg-icon--16">
                            <svg class="svg-icon__icon">
                                <use xlink:href="#search_icon"></use>
                            </svg>
                        </div>
                        <input type="text" name="query" id="query" value="" class="search-form__keyword-input dropdown-toggle" autocomplete="off" placeholder="Tìm kiếm theo kỹ năng, chức vụ, công ty..." data-search--autocomplete-target="query" data-action="search--autocomplete#toggleClearButton" data-bs-toggle="dropdown" data-bs-display="static"><div class="dropdown-menu w-100 ts-dropdown m-0 d-none"></div>
                        <a class="search-form__clear svg-icon svg-icon--16 d-none" data-action="search--autocomplete#clearQuery" data-search--autocomplete-target="clearBtn">
                            <svg class="svg-icon__icon">
                                <use xlink:href="#close_lg_icon"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                @*  <div class="search-form__city-section rounded" data-controller="auto-populate-city">
                        <div class="w-100">
                            <select name="city" id="city" class="search-form__city-select tomselected ts-hidden-accessible" data-cities="{&quot;ho-chi-minh-hcm&quot;:&quot;Ho Chi Minh&quot;,&quot;ha-noi&quot;:&quot;Ha Noi&quot;,&quot;da-nang&quot;:&quot;Da Nang&quot;,&quot;others&quot;:&quot;Others&quot;}" data-preload="true" data-auto-populate-city-target="select" data-search--autocomplete-target="city" data-controller="search--city_selection" tabindex="-1">
                                <option value="">Thành phố</option>
                                <option value="ho-chi-minh-hcm">Ho Chi Minh</option>

                                <option value="da-nang">Da Nang</option>
                                <option value="others">Others</option>
                                <option selected="selected" value="ha-noi">Ha Noi</option>
                            </select><div class="ts-wrapper search-form__city-select single full has-items"><div class="ts-control" role="combobox" aria-haspopup="listbox" aria-expanded="false" aria-controls="city-ts-dropdown" id="city-ts-control" tabindex="0" aria-activedescendant="city-opt-3"><div data-value="ha-noi" class="item" data-ts-item="">Ha Noi</div></div><div class="ts-dropdown single" style="display: none; visibility: visible;"><div role="listbox" tabindex="-1" class="ts-dropdown-content" id="city-ts-dropdown"><div data-selectable="" data-value="" class="option" role="option" id="city-opt-1">Thành phố</div><div data-selectable="" data-value="ho-chi-minh-hcm" class="option" role="option" id="city-opt-2">Ho Chi Minh</div><div data-selectable="" data-value="ha-noi" class="option selected active" role="option" id="city-opt-3" aria-selected="true">Ha Noi</div><div data-selectable="" data-value="da-nang" class="option" role="option" id="city-opt-4">Da Nang</div><div data-selectable="" data-value="others" class="option" role="option" id="city-opt-5">Others</div></div></div></div>
                        </div>
                    </div>*@
                <div class="search-overlay first-overlay"></div>
                <div class="search-overlay second-overlay" data-action="click->search--autocomplete#closeOverlay"></div>
                <div class="search-form__action-section">
                    <input type="submit" name="commit" value="Tìm Kiếm" class="search-form__action button-red left rounded" data-disable-with="Tìm Kiếm">
                </div>
            </form>

            <div class="page-header__tag-list hidden-xs d-none d-sm-block">
                @foreach (var item in ViewBag.Skills)

                {
                    <a class="head no-border ilabel popular-keyword" data-controller="utm-tracking" href="@Url.Action("ListJobs","Jobs", new { id = item.id_skill})">@item.name_skill</a>

                }
            </div>
        </div>
    </div>
    <div class="cps-container" style="padding: 0px 0px">
        <div class="homepage__jobs-container">
            <div class="suggested-jobs">
            </div>
            <div class="top-companies">
                <div class="title">Nhà Tuyển Dụng Hàng Đầu</div>
                <div class="row">
                    @foreach (var item in ViewBag.Companies)
                    {
                        <div class="col-xs-12 col-md-3">

                            <a class="top-company" data-controller="utm-tracking" rel="nofollow" data-method="put" href="@Url.Action("ListJobs","Jobs", new { id = item.id_company })">
                                <div class="top-company__logo text-center">
                                    <picture>
                                        
                                        <img alt="Parcel Perform Vietnam Small Logo" data-controller="lazyload" data-src="" height="170" width="170" class=" ls-is-cached lazyloaded" src="@item.logo">
                                    </picture>
                                </div>
                                <div class="top-company__name text-center">@item.name_company</div>
                                <footer class="top-company__footer text-center">
                                    <span class="top-company__footer-jobs">
                                        
                                            <span class="red link">
                                              Việc làm
                                            </span>
                                        
                                            <span>&nbsp;-&nbsp;</span>
                                        </span>
                                    <span class="top-company__footer-city">@item.address</span>
                                </footer>
                            </a>
                        </div>

                    }
                  
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="blog-list">
                <div class="blog-list__header">
                    <h3 class="blog-list__title">Bài viết mới</h3>
                    <div class="blog-list__cta">
                        <a target="_blank" class="ilink ilink--grey ilink--small ilink--dotted" href="https://itviec.com/blog/">
                            Xem tất cả
                            <div class="svg-icon svg-icon--inline">
                                <svg class="svg-icon__icon">
                                    <use xlink:href="#caret-right-icon"></use>
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="blog-list__content">

                    <div class="blog">
                        <a class="blog__image-link" href="https://itviec.com/blog/vietnam-it-recruiting-market-2021-2022?utm_campaign=featuredpost&amp;utm_medium=footer&amp;utm_source=itviec.com">
                            <img data-controller="lazyload" data-src="https://itviec.com/rails/active_storage/blobs/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNTQrSnc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--c721fa0cd693f90b2f7e4c20fbe4d432afa93991/vietnam-it-recruitment-market-thumbnail-200x113.png" height="80" width="160" class=" ls-is-cached lazyloaded" src="https://itviec.com/rails/active_storage/blobs/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNTQrSnc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--c721fa0cd693f90b2f7e4c20fbe4d432afa93991/vietnam-it-recruitment-market-thumbnail-200x113.png">
                        </a><div class="blog__description">
                            <h4 class="blog__description-title">
                                <a target="_blank" href="https://itviec.com/blog/vietnam-it-recruiting-market-2021-2022?utm_campaign=featuredpost&amp;utm_medium=footer&amp;utm_source=itviec.com">Vietnam IT recruiting market 2021-2022: What to expect?</a>
                            </h4>
                            <div class="blog__description-content">
                                Strong demand for Vietnam IT recruiting in 2021 and 2022 despite the ongoing Covid-19 situations. Let’s explore employer’s reactions in 2021 and the plans for...
                            </div>
                            <div class="blog__read-more">
                                <a target="_blank" class="ilink ilink--grey ilink--small ilink--dotted" href="https://itviec.com/blog/vietnam-it-recruiting-market-2021-2022?utm_campaign=featuredpost&amp;utm_medium=footer&amp;utm_source=itviec.com">
                                    Read more
                                    <div class="svg-icon svg-icon--inline">
                                        <svg class="svg-icon__icon">
                                            <use xlink:href="#caret-right-icon"></use>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="blog">
                        <a class="blog__image-link" href="https://itviec.com/blog/game-online-mien-phi-lap-trinh-danh-cho-developer?utm_campaign=featuredpost&amp;utm_medium=footer&amp;utm_source=itviec.com">
                            <img data-controller="lazyload" data-src="https://itviec.com/rails/active_storage/blobs/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBM25wSmc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--9eddcbe0806e81eeca746e2b9a9d069c21db9748/game-online-mien-phi-thumbnail-200x105.jpg" height="80" width="160" class=" ls-is-cached lazyloaded" src="https://itviec.com/rails/active_storage/blobs/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBM25wSmc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--9eddcbe0806e81eeca746e2b9a9d069c21db9748/game-online-mien-phi-thumbnail-200x105.jpg">
                        </a><div class="blog__description">
                            <h4 class="blog__description-title">
                                <a target="_blank" href="https://itviec.com/blog/game-online-mien-phi-lap-trinh-danh-cho-developer?utm_campaign=featuredpost&amp;utm_medium=footer&amp;utm_source=itviec.com">Top 10+ game online miễn phí về lập trình dành cho Developer</a>
                            </h4>
                            <div class="blog__description-content">
                                Tuy hầu hết các game online miễn phí về lập trình đều hướng đến đối tượng là trẻ em nhưng cũng có nhiều game lập...
                            </div>
                            <div class="blog__read-more">
                                <a target="_blank" class="ilink ilink--grey ilink--small ilink--dotted" href="https://itviec.com/blog/game-online-mien-phi-lap-trinh-danh-cho-developer?utm_campaign=featuredpost&amp;utm_medium=footer&amp;utm_source=itviec.com">
                                    Read more
                                    <div class="svg-icon svg-icon--inline">
                                        <svg class="svg-icon__icon">
                                            <use xlink:href="#caret-right-icon"></use>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="overlay"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#query").click(function () {
        $('#overlay').css({ display: "block" });
    })
    $('#overlay').click(function () {
        $('#overlay').css({ display: "none" });
    })
    $("#query").blur(function () {
        if ($('.atag:hover').length > 0) // cancel the blur event
        {
            $('#query').focus();
        }
        else   // blur event is okay
        {
            $(".suggestBox").remove()
            $("#query").val("");
        }
    })
    function GetValue(str, data) {
        var a = ""
        $.each(data, function (k, val) {
            a = val[`${str}`]
        })
        return a;
    }
    $("#query").keyup(function () {
        var strKey = $("#query").val();
        GetJob(strKey);
        function GetJob(strKey) {
            $.ajax(
                {
                    type: "POST",
                    url: "/Jobs/SearchJob",
                    data: "{keyword: '" + strKey + "'}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json"
                }).done(function (data) {
                    $(".suggestBox").remove()
                    $("<div></div>").addClass("suggestBox").appendTo(".search-form")
                    $("<ul></ul>").addClass("data-box").appendTo(".suggestBox")
                    $.each(data, function (index, item) {
                        $("<li></li>").append(
                            $("<a></a>").attr("href", "/Job/ListJobs/" + GetValue("id", item)).addClass("atag").append(
                               @* $("<div></div>").addClass("company-image").append(
                                    $("<img/>").attr("src", "/Content/images/" + GetValue("image", item))
                                ),*@
                                $("<div></div>").addClass("job-info").append(
                                    $("<div></div>").addClass("job-name").append(GetValue("job_name", item)),
                                    $("<div></div>").addClass("salary").append(GetValue("salary", item))
                                )
                            )
                        ).appendTo(".data-box")
                    })
                }).fail(function () {
                    $(".suggestBox").remove()
                    $("#query").val("");
                    @* $.each(data, function (i, item) {
                        console.log(GetValue("salary", item))
                    }) *@
                });
        }
    })
</script>
