@model IEnumerable<WebJob.Models.job_detail>

@{
    ViewBag.Title = "MyJobs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/register.css" rel="stylesheet" />
<link href="~/Content/list.css" rel="stylesheet" />
<link href="~/Content/Body.css" rel="stylesheet" />
<link href="~/Content/save.css" rel="stylesheet" />
<div class="container">
    <div class="main-content container-fluid" id="homepage">
        <div class="job-skill-indices">
            <h1 class="job-skill-index-headline">My Jobs</h1>
            <table class="table">
                <tr>
                    <th>
                        Job's Name
                    </th>
                    <th>
                       Salary
                    </th>
                    <th>
                       Amount
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Skill
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.job.name)
                        </td>
                        <td>
                            @string.Format("{0:C0}", item.salary)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.job.job_title.name_title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.job_skill.name_skill)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.id_job_detail }) |
                            @Html.ActionLink("Details", "Details", new { id = item.id_job_detail }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.id_job_detail })
                        </td>
                    </tr>
                }

            </table>


        </div>
    </div>
</div>


