

@model IEnumerable<WebJob.Models.job_title>
@*@using WebJob.entities*@
@using WebJob.Models

@{
    ViewBag.Title = "Title";
    Layout = "~/Areas/Admin/Views/Shared/Adlayout.cshtml";
}





<h2>Title</h2>

<p>
    @Html.ActionLink("Add New Title", "Add", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name_title)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name_title)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id_title }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id_title }, new { @class = "btn btn-info" })


            </td>
        </tr>
    }

</table>